*{
    margin: 0;
    padding: 0;
}

.hero{
    background-image: url(../img/veggies.png);
    background-repeat: none;
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 900px;
}



.top-caption {
    z-index: 10;
    position: absolute;
    top: 300px;
}



h3 {
    font-size: 160px;
    color: white;
}

.review-title{
    margin-top: 100px;
}

.map{
    margin-top: 100px;
}

.map-caption{
    margin-top: 50px;
}
.vendor {
    margin-top: 100px;
}

.vendor-info{
    margin-top: 100px;
    
}
.bio{
    margin-left: 350px;
}

.review-input{
    margin-top:100px;
}

#reviews{
    height: 1000px;
}

#vendors-list{
    background-color: #F3F3F3;
    padding:50px 0;
}

.container form{
    margin-top:100px;
}

.container title{
    margin-top:100px;
}

.reviewtitle{
    margin-top:100px;
}